@import "../../styles/library";
@import "../../styles/_mixins.scss";

.back {
  display: flex;
  flex-direction: column;
  background-color: $--white-color;
  @include md {
    width: 400%;
  }
}

.background {
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img {
  padding-left: 50px;
  align-content: center;
  padding-top: 30px;
  margin-bottom: 10px;
  @include md {
    padding-top: 20px;
    margin-left: -70px;
    height: 110px;
  }
}

.text {
  color: black;
  font-size: 45px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  @include md {
    font-size: 65px;
  }
}
.text2 {
  color: black;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  @include md {
    font-size: 50px;
  }
}
