.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url(../public/Images/Background.png);
  padding: 0px 80px 80px 80px;
}

.logo {
  margin-bottom: -80px;
  display: flex;
}

.logocentrado {
  display: flex;
  align-self: center;
}

.button {
  background-color: #ffe33a;
  color: black;
  border-color: #ffe33a;
  align-content: space-between;
  &:hover {
    background-color: transparent;
    border-color: white;
  }
}
.button2 {
  background-color: transparent;
  color: white;
  border-color: #ffe33a;

  &:hover {
    background-color: transparent;
    border-color: white;
  }
}

.buttonsgroup {
  display: flex;
  justify-content: space-around;
}
