@import "../styles/_mixins.scss";
@import "../styles/library";

.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  // background-image: url(../public/Images/valeEspalda.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0px 80px 80px 80px;
  @include md {
    width: 120%;
    height: 900px;
  }
}

.monitor {
  margin-top: 50px;
  margin-bottom: 50px;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.h1 {
  margin-top: -170px;
  @include md {
    width: 100%;
    flex-direction: column;
    line-height: 55px;
  }
}

.nav {
  display: flex;
  margin-top: 10px;
  margin-bottom: 85px;
  margin-left: -50px;
  align-items: center;
  justify-content: space-between;
  @include md {
    justify-content: space-between;
  }
}
.nav2 {
  display: flex;
  margin-top: 10px;
  margin-left: -50px;
  margin-right: 10px;
  align-items: center;
  justify-content: space-between;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  p {
    margin-right: 10px;
    strong {
      color: $--primary;
    }
  }
  @include md {
    margin-top: 150px;
    margin-left: -40px;
    width: 100%;
    flex-direction: column;
  }
}

.button3 {
  height: 50px;
  background-color: #25d366;
  color: #fff;
  border: 1px solid #25d366;
  font-weight: 300;
  font-family: Impact, "Kanit-Extrabold", "Arial Narrow Bold", sans-serif;
  &:hover {
    background-color: black;
    border: 1px yellow solid;
  }
  @include md {
    margin-left: 120px;
  }
}

.h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  span {
    color: black;
    background-color: yellow;
    border-radius: 3px;
  }
}

.img {
  border-radius: 10px;
  @include md {
    margin-left: 70px;
    border-radius: 10px;
    margin-top: 10px;
  }
}

.button2 {
  background-color: transparent;
  border: 1px solid white;
  &:hover {
    background-color: transparent;
    border: 1px solid yellow;
  }
}
