@import "../../styles/library";
@import "../../styles/_mixins.scss";

.background {
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  margin-left: -70px;

  @include md {
    margin-left: 200px;
    margin-bottom: 300px;

    .nav {
      padding-left: 140px;
      //acomodar padding mayor
      //mayor margin bottom
    }
  }
}

.home {
  background-color: black;
  width: auto;

  justify-content: space-between;
  margin: auto auto;
  padding-right: 60px;
  padding-left: -20px;
  display: inline-flex;
  @include md {
    display: grid;
  }
}

.imglogo {
  @include md {
    width: 740px;
    height: 480px;
    margin-bottom: -40px;
  }
}

.title {
  color: white;
  width: 700px;

  font-size: 60px;
  line-height: 70px;
  letter-spacing: 3px;
  font-family: "Kanit-Extrabold", Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
  font-weight: 800;
  margin-right: -180px;
  margin-top: 80px;
  z-index: 20;
  margin-bottom: -100px;
  @include md {
    font-size: 150px;
    font-weight: 800;
    width: 140%;
    line-height: 160px;
  }
}

.nav {
  margin-bottom: -100px;
  margin-top: -65px;
  margin-left: 110px;
  border-radius: 1px solid;
}

.img {
  border-radius: 6px;
  margin-left: 100px;

  @include md {
    width: 1000px;
    height: 1200px;
    padding-left: 100px;
    margin-left: 280px;
  }
}

.button {
  margin-left: 200px;

  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  border: 4px solid #ffe33a;
  cursor: pointer;
  background-color: $--primary;
  padding: 10px;
  font-size: 25px;
  font-weight: 800;
  color: black;
  border-radius: 3px;
  width: fit-content;
  position: relative;
  top: -80px;
  left: 210px;
  z-index: 200;
  &:hover {
    background-color: transparent;
    color: white;
    transition-duration: 300ms;
  }
  @include md {
    width: max-content;
    font-size: 60px;

    margin-left: 280px;
  }
}
