@import "../../styles/library";
@import "../../styles/_mixins.scss";

.base {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.background {
  width: 100%;

  @include md {
    margin-bottom: 300px;
  }
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 300px;

  @include md {
    flex-direction: column;
  }
}

.imglogo {
  @include md {
    width: 740px;
    height: 550px;
    margin-bottom: -40px;
  }
}

.empezar {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: 3px;
  font-family: "Kanit-Extrabold", Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
  font-weight: 800;

  z-index: 20;

  @include md {
    font-size: 150px;
    font-weight: 800;
    margin-left: 500px;
    line-height: 160px;
  }
}

.navlink:hover {
  cursor: pointer;
}
.nav {
  margin-bottom: -100px;
  display: flex;

  div {
    font-size: 20px;
    align-self: center;
    margin-left: 520px;
    @include md {
      margin-left: 150px;
      font-size: 50px;
      line-height: 50px;
      animation: latidos 0.9s infinite;
      transform-origin: center;
      @keyframes latidos {
        from {
          transform: none;
        }
        50% {
          transform: scale(1.4);
        }
        to {
          transform: none;
        }
      }
    }

    span:first-child {
      margin-left: 1020px;
      text-decoration: underline black;
      color: white;
      &:hover {
        text-decoration: underline yellow;
      }
    }
    span:nth-last-child(1) {
      margin-left: 30px;

      &:hover {
        text-decoration: underline yellow;
      }
    }
  }
}

.img {
  border-radius: 6px;
  margin-left: 100px;

  @include md {
    width: 1500px;
    height: 1000px;
    padding-left: 500px;
  }
}

.button {
  margin-left: 200px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  border: 4px solid #ffe33a;
  cursor: pointer;
  background-color: $--primary;
  padding: 10px;
  font-size: 25px;
  font-weight: 800;
  color: black;
  border-radius: 3px;
  width: fit-content;
  position: relative;
  top: -80px;
  left: 480px;
  z-index: 200;
  &:hover {
    background-color: transparent;
    color: white;
    transition-duration: 300ms;
  }
  @include md {
    width: max-content;
    font-size: 60px;

    margin-left: 150px;
  }
}
