@import "../../styles/library";
@import "../../styles/_mixins.scss";

.background {
  width: 80%;
  display: grid;
  align-items: center;
  justify-content: center;
  @include md {
    .nav {
      padding-left: 10px;
    }
  }
}

.home {
  background-color: black;
  width: auto;

  justify-content: space-between;
  margin: auto auto;
  padding-right: 60px;
  padding-left: -20px;
  display: inline-flex;
  @include md {
    display: grid;
    .nav {
      padding-left: 100px;
    }
    .img {
      width: 80%;
      margin-left: 120px;
    }
    .title {
      padding-left: -30px;
    }
  }
}

.title {
  color: white;
  width: 700px;
  font-size: 70px;
  line-height: 70px;
  letter-spacing: 3px;
  font-family: "Horizon", Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-right: -180px;
  margin-top: 80px;
  z-index: 20;
  margin-bottom: -100px;
}

.nav {
  margin-bottom: -100px;
  margin-top: -65px;
  margin-left: 110px;
  border-radius: 1px solid;
}

.img {
  border-radius: 6px;
  margin-left: 100px;
  width: auto;
}

.button {
  margin-left: 200px;

  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  border: 4px solid #ffe33a;
  cursor: pointer;
  background-color: $--primary;
  padding: 10px;
  font-size: 25px;
  font-weight: 100;
  color: black;
  border-radius: 3px;
  width: fit-content;
  position: relative;
  top: -80px;
  left: 210px;
  z-index: 200;
  &:hover {
    background-color: transparent;
    color: white;
    transition-duration: 300ms;
  }
}
