@import "./_library.scss";
@import "./_mixins.scss";

@font-face {
  font-family: "Kanit-Extrabold";
  src: url("../public/Fonts/Kanit-ExtraBold.ttf") format("opentype");
}
* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #ffe33a;
  --secondary: #201e1f;
  --gray-color: #bebfc1;
  --white-color: #fefefe;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: "Kanit-Extrabold", Haettenschweiler, "Arial Narrow Bold";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: var(--white-color);
}

td {
  cursor: pointer;
}

h1,
h2,
h3 {
  display: flex;
  justify-content: center;
  font-family: "Kanit-Extrabold", "Arial Narrow Bold";
}

.pointer {
  cursor: pointer;
}

h1 {
  font-size: 2.5rem;
  font-family: "Kanit-Extrabold";
  @include md {
    font-size: 3.8rem;
  }
}
