@import "../../styles/library";
@import "../../styles/_mixins.scss";

.fondo {
  background-image: url(../../public/Images/Background.png);
  background-size: contain;
  @include md {
    width: 230%;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  margin: auto auto;
  padding-right: 60px;
  padding-left: 60px;
  padding-top: 120px;
  padding-bottom: 150px;
  @include md {
    display: grid;
    .img {
      width: 110%;
      height: 110%;
      margin-top: -30px;
      margin-left: -20px;
    }
    .texto {
      margin-left: -50px;
      margin-top: 20px;
      width: 110%;
    }
    .button {
      margin-top: 30px;
    }
  }
}

.img {
  border-radius: 6px;
}

.texto {
  padding-left: 60px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.button {
  margin-left: 200px;
  font-family: Impact, "Kanit-Extrabold", "Arial Narrow Bold", sans-serif;

  border: 4px solid #ffe33a;
  cursor: pointer;
  background-color: $--primary;
  padding: 10px;
  font-size: 25px;
  font-weight: 100;
  color: black;
  border-radius: 3px;
  width: fit-content;
  margin-top: 30px;
}

.button:hover {
  background-color: transparent;
  color: white;
  transition-duration: 300ms;
}
